body {
    margin: 0;
    font-family: Arial;
}

nav {
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    -webkit-box-shadow: 1px 3px 9px 7px rgba(0,0,0,0.48); 
    box-shadow: 1px 3px 9px 7px rgba(0,0,0,0.48);
}

#logo {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-right: 250px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-right: 75px;
    transition: 1s;
}

nav a:hover {
    transition: 1s;
    color: aquamarine;
    font-weight: bold;
    transition: 1s;
}

.card {
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1); 
    color: white;
    width: 500px;
    height: 300px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 9px 7px rgba(0,0,0,0.48); 
    box-shadow: 1px 3px 9px 7px rgba(0,0,0,0.48);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    transition: 2s;
}

.card:hover {
    transition: 2s;
    padding: 50px 30px;
    transition: 2s;
}